/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
  width: auto;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'calligraffitti', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.3rem;
  font-family: 'tomorrow', sans-serif;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
nav {
  width: 100%;
  background-color: #3AAFA9;
  margin-bottom: auto;
  position: fixed;
  border-radius: 10px;
  top: 0;
  opacity: 0.9;
}
@media (max-width: 500px) {
  nav {
    width: 90%;
    margin-left: 5%;
    padding: 0;
  }
}
nav h1 {
  text-align: left;
  font-size: 2em;
  color: whitesmoke;
  padding: 18px;
}
nav div {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}
@media (max-width: 500px) {
  nav div {
    justify-content: space-evenly;
  }
}
nav a {
  display: block;
  text-decoration: none;
  background-color: #17252a;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-size: 1.3rem;
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 3%;
}
nav a:hover {
  color: #3AAFA9;
  background-color: white;
  border: 1px solid #23293B;
}
@media (max-width: 500px) {
  nav a {
    font-size: 1rem;
    width: 80%;
    padding: 5%;
  }
}
nav .mainTitle {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0;
}
nav .mainTitle h1 {
  font-family: 'Marck Script', cursive;
  font-weight: 400;
}
nav .mainTitle i {
  padding: 1%;
  margin-left: 2%;
  margin-right: -2%;
}
nav #mainBt {
  background-color: orange;
}
nav #mainBt:hover {
  color: #3AAFA9;
  background-color: white;
  border: 1px solid #23293B;
}
.footer {
  width: 100%;
  padding: 0;
  margin-right: 0;
}
.footer footer {
  color: #22283b;
  width: auto;
  background: #3AAFA9;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
@media (max-width: 500px) {
  .footer footer {
    justify-content: left;
  }
}
@media (max-width: 500px) {
  .footer footer p {
    font-size: 0.8rem;
  }
}
.saladPic {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}
.saladPic img {
  border-radius: 0;
  width: 100%;
  object-fit: cover;
  height: 300px;
  margin: 0;
  border-radius: 2%;
}
@media (max-width: 500px) {
  .saladPic img {
    width: 100%;
  }
}
.home {
  width: 100%;
  padding: 1% 5%;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
@media (max-width: 500px) {
  .home .intro p {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .intro {
    padding: 1%;
    text-align: justify;
    margin-top: 0;
  }
  .home .intro h2 {
    font-size: 0.2rem;
    margin-right: 1%;
  }
}
.home .navLinksSec {
  padding: 5%;
  margin-left: 6%;
}
@media (max-width: 500px) {
  .home .navLinksSec {
    padding: 0;
  }
}
.home .navLinks {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .home .navLinks {
    justify-content: space-around;
    margin-left: 5%;
  }
}
.home .navLinks .linkNav {
  margin-left: 10%;
}
.home .navLinks h3 {
  margin-left: 15%;
}
.home .navLinks h3:hover {
  color: #3AAFA9;
  background-color: white;
  border: 1px solid #23293B;
}
.home .navLinks p {
  width: 10%;
  margin-left: 15%;
  text-align: justify;
}
.home .box {
  width: 100%;
  height: 75%;
  border-radius: 20%;
  background: black;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .box {
    height: 45%;
    width: 97%;
  }
}
.home i {
  width: 42px;
  height: 31px;
}
.home #bOne {
  background-color: teal;
  box-shadow: 0 1px 2px 4px #362a2a;
  transition: background 0.2s, color 0.2s;
}
.home #bTwo {
  background-color: orange;
}
.home #b3 {
  background-color: teal;
}
.home #b4 {
  background-color: orange;
}
.home a {
  text-decoration: none;
  font-size: 2.3rem;
  color: teal;
}
@media (max-width: 500px) {
  .home a {
    font-size: 1.5rem;
    padding: 1%;
  }
}
.home .search {
  margin-top: 60px;
  background-color: #def2f1;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  border-radius: 2%;
}
@media (max-width: 500px) {
  .home .search {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
    padding: 3%;
    margin-right: 0;
    margin-bottom: 1%;
  }
}
.home .search .search-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .search .search-text {
    width: 100%;
    padding: 3%;
  }
}
.home .search .search-text h3 {
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .home .search .search-text h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}
.home .search .search-text p {
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .home .search .search-text p {
    text-align: center;
  }
}
.home .search .search-text .btn {
  display: block;
  background-color: #23293B;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 246px;
  height: 42px;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 2%;
}
.home .search .search-text .btn:hover {
  color: #3AAFA9;
  background-color: white;
  border: 1px solid #23293B;
}
@media (max-width: 500px) {
  .home .search .search-text .btn {
    display: block;
    background-color: #23293B;
    margin: 0 10px 20px;
    cursor: pointer;
    width: 97%;
    height: 42px;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 2%;
    height: 3em;
    padding: 7%;
    margin-left: 5px;
  }
}
.home .search .recipe-book-img {
  width: 46%;
  margin-left: 4%;
  border-radius: 2%;
}
@media (max-width: 500px) {
  .home .search .recipe-book-img {
    width: 100%;
    padding-right: 9%;
    padding-top: 9%;
  }
}
.home .search .recipe-book-img img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}
.home .import-recipe {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .home .import-recipe {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 3%;
    margin-right: 6%;
    margin-bottom: -7%;
  }
}
.home .import-recipe .import-text {
  width: 50%;
  padding: 5%;
}
@media (max-width: 500px) {
  .home .import-recipe .import-text {
    width: 100%;
    padding: 3%;
  }
}
.home .import-recipe .import-text h3 {
  margin-bottom: 4%;
}
@media (max-width: 500px) {
  .home .import-recipe .import-text h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}
.home .import-recipe .import-text p {
  margin-bottom: 13%;
  margin-bottom: 26px;
}
@media (max-width: 500px) {
  .home .import-recipe .import-text p {
    text-align: center;
  }
}
.home .import-recipe .import-text .btn {
  display: block;
  background-color: #23293B;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 246px;
  height: 42px;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 2%;
}
.home .import-recipe .import-text .btn:hover {
  color: #3AAFA9;
  background-color: white;
  border: 1px solid #23293B;
}
@media (max-width: 500px) {
  .home .import-recipe .import-text .btn {
    display: block;
    background-color: #23293B;
    margin: 0 10px 20px;
    cursor: pointer;
    width: 97%;
    height: 42px;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 2%;
    height: 3em;
    padding: 7%;
    margin-left: 5px;
  }
}
.home .import-recipe .laptop-img {
  width: 41%;
  margin-left: 4%;
  padding-right: 2%;
  border-radius: 2%;
}
@media (max-width: 500px) {
  .home .import-recipe .laptop-img {
    width: 100%;
  }
}
.home .import-recipe .laptop-img img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}
.container-home {
  width: 90%;
  padding-top: 5%;
  box-sizing: border-box;
}
.container-home .about-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 5%;
  padding-right: 1%;
  margin-left: 8%;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .container-home .about-cont {
    flex-direction: column-reverse;
    margin-top: 30%;
  }
}
.container-home .about-cont .about-card {
  background-color: beige;
  border: solid black;
}
.container-home .about-cont h3 {
  padding: 15px;
  font-size: 2rem;
}
.container-home .about-cont p {
  font-size: 1.5rem;
  padding: 0 15px;
}
.container-home .collab-meeting {
  display: flex;
  justify-content: center;
}
.container-home .collab-meeting img {
  max-height: 300px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  padding-left: 12%;
}
.container-home .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 2%;
}
@media (max-width: 500px) {
  .container-home .team {
    flex-direction: column;
  }
}
.container-home .team h2 {
  padding: 15px;
  font-size: 3rem;
}
.container-home .team p {
  font-size: 1.5rem;
  padding: 0 15px;
}
.container-home .meet-team {
  width: 90%;
  padding-left: 15%;
}
.container-home .meet-team .content-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
  padding: 2%;
  width: 100%;
  border: solid 2px;
  box-shadow: 5px 10px #888888;
}
.container-home .meet-team .content-card .img-box {
  width: 50%;
  height: 100%;
  padding: 2%;
}
@media (max-width: 500px) {
  .container-home .meet-team .content-card .img-box {
    width: 100%;
    text-align: center;
  }
}
.container-home .meet-team .content-card .img-box img {
  width: 55%;
  border-radius: 20px;
  text-align: end;
}
@media (max-width: 500px) {
  .container-home .meet-team .content-card .img-box img {
    width: 60%;
  }
}
.container-home .meet-team .person-info {
  width: 50%;
  padding: 2%;
  background: beige;
}
@media (max-width: 500px) {
  .container-home .meet-team .person-info {
    flex-direction: column-reverse;
    width: 100%;
  }
}
.container-home .meet-team .person-info h2 {
  padding: 15px;
  font-size: 3rem;
}
.container-home .meet-team .person-info p {
  font-size: 1.5rem;
  padding: 0 15px;
}
