
.container-home {
    width: 90%;

}


.about-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 8%;

    @media @phone {
        flex-direction: column-reverse;
        margin-top: 30%;

    }

    .about-card {
        background-color: @background;
        border: solid black;
    }
    
    h3 {
        padding: 15px;
        font-size: 4rem;
      }
  
     p {
        font-size: 2rem;
        padding: 0 15px;
      }
      
      
    

}

.collab-meeting {
    display: flex;
    justify-content: center;
    img {
        max-height: 40%;
        width: 60%;
        border-radius: 10px;
    }
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4%;

    @media @phone {
        flex-direction: column;
    }

    h2 {
    padding: 15px;
    font-size: 4rem;
    }
    
    p{
        font-size: 2rem;
        padding: 0 15px;   
    }
}

.meet-team {
    width: 75%;
    margin: auto;

    .content-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2%;
        padding: 2%;
        width: 100%;
        border: solid 2px;

        .img-box{
            width: 50%;
            height: 100%;
            padding: 10%;

            @media @phone {
                width: 100%;
                text-align: center;
            }

            img {
                width: 30%;
                border-radius: 30px;
                
                @media @phone {
                    width: 60%;
                }
            }
            
        }   
    }

    .person-info {
        width: 50%;
        padding: 2%;
        background: @background;

        @media @phone {
            flex-direction: column-reverse;
            width: 100%;
        }
    
        h2 {
            padding: 15px;
            font-size: 4rem;
            }
    
            p {
            font-size: 2rem;
            padding: 0 15px;   
            }
    }
}



